.crosssell-cards-container {
    width: 100%;
    overflow: hidden;
    padding-bottom: 30px;
}
.crosssell-cards {
    width: 100%;
    animation: crosssellSlider 10s linear infinite;
    will-change: transform;
}

.crosssell-cards:hover {
    animation-play-state: paused
}

.crosssell-card{
    width: 400px;
    height: 230px;
    position: relative;
    float: left;
    margin: 0 15px;
    transition: transform .3s ease-out;
    z-index: 1;
    outline: none;
    display: flex;
    justify-content: flex-end;
    text-decoration: none;

    
}


.crosssell-card:before{
    content: '';
    display: block;
    position: absolute;
    left: 10px;
    right: 10px;
    top: 0;
    bottom: 0;
    box-shadow: 0px 8px 20px 0px rgba(0,0,0,0.3);
}

.crosssell-card:hover{
    transform: translate3d(0, -20px, 0);
}

.crosssell-card > .bg-img{
    max-width: none;
    position: absolute;
    bottom: 0;
    right: 0;
}
.crosssell-card >.text{
    align-self: center;
    position: relative;
    z-index: 1;
    color: #fff;
    font-size: 20px;
    text-align: right;
    padding-right: 35px;

    
}

.text > h2 {
    font-size: 45px;
    color: #fff;
    text-align: right;
    margin-bottom: 5px;
}

/* Make it move */
@keyframes crosssellSlider {
0% { transform: translate3d(100%, 0, 0)}
100% {transform: translate3d(-100%, 0, 0) }
}