.formContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.allContentContact {
    width: 100%;
    max-width: 1200px;
}

.contactContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

}

.contactContainer > h3{
    font-size: 2rem;
}

.mineGeeContainer{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputBorder {
    border-color: #fe4066 !important
}

.marginTop{
    margin-top: 1rem;
}

.sendButton{
    max-width: 200px;
    width: 100%;
    height: 3rem;
    background-color: #fe4066 !important;
}

.buttonContainer{
    display: flex;
    justify-content: flex-end;
}

.checkBoxActive {
        color: #fe4066;
}
