.skillsContainer {
  position: absolute;
  top: 1150px;
  width: 1200px;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 5px 5px 0 rgb(233 240 243 / 50%), 0 0 0 1px #e6ecf8;
  display: grid;
  grid-template-columns: 600px 600px;
}

.skill {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 70px 45px;
}

.dataContainer {
  margin-top: 3.1rem;
}

.skill > h2 {
  font-weight: bold;
}
.dataContainer > h3, .skill > h3 {
  font-weight: normal;
  text-align: center;
}
.dataContainer > h4 {
  text-align: center;
  color: #fe4066;
}

.separator {
  border: 1px solid #e6ecf8;
  border-style: none none none solid;
}

.iconColor {
  color: #fe4066;
}

@media (max-width: 844px) {
  .skillsContainer {
    position: relative;
    top: 0;
    width: 100%;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 5px 5px 0 rgb(233 240 243 / 50%), 0 0 0 1px #e6ecf8;
    display: flex;
    flex-direction: column;
  }
  .skill {
    padding: 0px 0px;
  }
  
  .dataContainer {
    margin-top: 0;
  }
}
