
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    background: $bunker-950;
}


svg {
    display: flex;
    width: 100%;
    height: 100%;
}


