.h-xxs {
    height: 0.25rem;
}
.h-xs {
    height: 0.5rem;
}
.h-s {
    height: 0.75rem;
}
.h-n {
    height: 1rem;
}
.h-m {
    height: 1.25rem;
}
.h-l {
    height: 1.5rem;
}
.h-xl {
    height: 1.75rem;
}
.h-xxl {
    height: 2rem;
}

.w-xxs {
    width: 0.25rem;
}
.w-xs {
    width: 0.5rem;
}
.w-s {
    width: 0.75rem;
}
.w-n {
    width: 1rem;
}
.w-m {
    width: 1.25rem;
}
.w-l {
    width: 1.5rem;
}
.w-xl {
    width: 1.75rem;
}
.w-xxl {
    width: 2rem;
}