$myFont: Helvetica, sans-serif;
$myColor: red;
$myFontSize: 18px;
$myWidth: 680px;


$revolver-50: #ebf2ff;
$revolver-100: #d6e2ff;
$revolver-200: #b8c4ff;
$revolver-300: #8a90ff;
$revolver-400: #6f5cff;
$revolver-500: #7038ff;
$revolver-600: #851aff;
$revolver-700: #8d10f4;
$revolver-800: #7e0fc2;
$revolver-900: #6f1698;
$revolver-950: #1d0523;


$jagger-50: #f5f3ff;
$jagger-100: #eeeafd;
$jagger-200: #dfd7fd;
$jagger-300: #c8b7fb;
$jagger-400: #ad8ef7;
$jagger-500: #9361f1;
$jagger-600: #833fe8;
$jagger-700: #742dd4;
$jagger-800: #6125b2;
$jagger-900: #512191;
$jagger-950: #2b1055;


$big-stone-50: #f5f7fa;
$big-stone-100: #ebeff3;
$big-stone-200: #d2dce5;
$big-stone-300: #aabecf;
$big-stone-400: #7d9bb3;
$big-stone-500: #5c7f9b;
$big-stone-600: #496680;
$big-stone-700: #3c5468;
$big-stone-800: #344758;
$big-stone-900: #2f3e4b;
$big-stone-950: #27323e;

$bunker-50: #f5f7fa;
$bunker-100: #ebeff3;
$bunker-200: #d3dbe4;
$bunker-300: #acbdcd;
$bunker-400: #7e98b2;
$bunker-500: #5e7c99;
$bunker-600: #4a637f;
$bunker-700: #3d5067;
$bunker-800: #354557;
$bunker-900: #303b4a;
$bunker-950: #161b22;



$yellow-sea-50: #fffdea;
$yellow-sea-100: #fff6c5;
$yellow-sea-200: #ffed85;
$yellow-sea-300: #ffdd46;
$yellow-sea-400: #ffca1b;
$yellow-sea-500: #ffa800;
$yellow-sea-600: #e27f00;
$yellow-sea-700: #bb5802;
$yellow-sea-800: #984308;
$yellow-sea-900: #7c370b;
$yellow-sea-950: #481b00;



$radical-red-50: #fff0f1;
$radical-red-100: #ffe5e8;
$radical-red-200: #ffccd5;
$radical-red-300: #ff9ead;
$radical-red-400: #ff6b86;
$radical-red-500: #fe3e65;
$radical-red-600: #ed1249;
$radical-red-700: #c8093c;
$radical-red-800: #a90a3c;
$radical-red-900: #8c0d37;
$radical-red-950: #510119;

$white: #fff;


$fs-xl: 5rem;
$fs-l: 2.5rem;
$fs-m: 2rem;
$fs-s: 1.125rem;
$fs-xs: 1rem;
$fs-xs: 0.875rem;
