/* 
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}

.slider {
	background: white;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	height: 400px;
	margin: auto;
	overflow:hidden;
	position: absolute;
	width: 100%;
	
	
}
.slider::before,
.slider::after {
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}
.slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
}

.slide {
    height: 100px;
    width: 250px;
} */


.carousel-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.carousel {
  white-space: nowrap;
  transition: transform 0.5s ease;
}

.card {
  display: inline-block;
  width: 300px;
  margin-right: 20px;
}

.card img {
  width: 100%;
}

.card-body {
  padding: 10px;
}

@media (max-width: 767px) {
  .card {
    width: 100%;
  }
  .carousel {
    display: flex;
    flex-wrap: nowrap;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .card {
    width: calc(50% - 20px);
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .card {
    width: calc(33.33% - 20px);
  }
}

@media (min-width: 1200px) {
  .card {
    width: calc(25% - 20px);
  }
}

@media (min-width: 768px) {
  .carousel {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
  }
}

.carousel-container .carousel {
  transform: translateX(0%);
}

.carousel-container button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  color: #007bff;
  font-size: 2rem;
  cursor: pointer;
}

.carousel-prev {
  left: 20px;
}

.carousel-next {
  right: 20px;
}

  
  