.homeContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.firstContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 3rem;
  height: 461px;
}


.lastContainer {
  position: absolute;
  top: 2240px;
}

.firstContainer > h2 {
  text-align: center;
}

.firstContainer > h1 > mark {
  background-color: transparent;
}

.firstContainer > h1 > mark:hover {
  color: #fe4066;
}

.profilePhoto {
  width: 15rem;
  height: auto;
  border-radius: 50%;
}

