.homeContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.firstContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 3rem;
    height: 461px;
}

.profilePhoto{
    width: 15rem;
    height: auto;
    border-radius: 50%;
}