.footerContainer {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px;
    background-color: #8d8d8d ;
    
}

.footerContent{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footerContent > p {
    margin-top: 1rem !important;
    color: white
}

.linkWindow {
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer
}

.logos {
    color: white;
    margin: 0 1rem;
}

.socialContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}