.navContainer {
    width: 100%;
    display: flex;
    background-color: white;
}

.logoNav {
    width: 100px;
    height: auto;
}

.itemsContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.leftNav{
    display: flex;
    align-items: center;
}
.rightNav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 40%;
}
.linkNav {
    margin-left: 1rem;
    font-size: large;
    text-decoration: none;
    color: #323232;
}
a.active {
    color: #FE4066
}

p {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}